<html>
    <head>
        <title>
            R2 Consulting - Nexo
        </title>
        <link rel="shortcut icon" href="/static/templates/custom_admin_panel/assets/images/app_icon.png">
        <link href="/static/templates/share_post/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <style>
            #btn_admin {
                background:#007bff;
                color:white;
                padding:10px 15px;
                width:200px;
                text-decoration-line: none;
                transition: all 0.2s ease-in-out;
            }

            #btn_admin:hover {
                background:white;
                color:#007bff;
                border: #007bff 1px solid;
            }

        </style>
    </head>
    <body>
        <h1 style="text-align:center">

            Welcome to Nexo R<sup>2</sup>
        </h1>
        
        <br />
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="height:20px;padding:20px;">
            <center>
            <img src="/static/templates/share_post/img/home-bg.jpg" width="50%;" alt="">
            <br>
            <br>
            <br>
            <a id="btn_admin"  href="/custom_admin_panel">
                Dashboard
            </a>
            </center>
        </div>

    </body>
    <script src="/static/templates/share_post/vendor/jquery/jquery.min.js"></script>
    <script src="/static/templates/share_post/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/favico.js/0.3.10/favico.min.js"></script>
</html>